<div class="container">
  <header>
    <h1>CSS Grid Demo</h1>
  </header>
  <main>
    <form class="block">
      <p>Display property</p>
      <input type="radio"
             id="grid"
             name="display"
             value="grid"
             [(ngModel)]="displayFormValue"
             checked>
      <label for="grid">grid</label>

      <input type="radio"
             id="inlineGrid"
             name="display"
             value="inline-grid"
             [(ngModel)]="displayFormValue">
      <label for="inlineGrid">inline-grid</label>
    </form>
    <form class="block">
      <p>Grid templates property</p>
      <label for="gridTemplateColumns">grid-template-columns: </label>
      <input type="text"
             id="gridTemplateColumns"
             name="gridColumn"
             [(ngModel)]="gridTemplateColumns">
      <label for="gridTemplateRows">grid-template-rows: </label>
      <input type="text"
             id="gridTemplateRows"
             name="gridRows"
             [(ngModel)]="gridTemplateRows">
    </form>
    <div class="base-grid"
         [style.display]="displayFormValue"
         [style.gridTemplateColumns]="gridTemplateColumns"
         [style.gridTemplateRows]="gridTemplateRows"
    >
      <div *ngFor="let i of cubeArray" class="cube">
        <span>{{ i }}</span>
      </div>
      <div class="cube cube--add" (click)="addCube()">
        <span>+</span>
      </div>
    </div>
  </main>
  <footer>
    <span>Inspired by CssTricks</span>
    <a href="https://css-tricks.com/snippets/css/complete-guide-grid/">css-tricks.com</a>
  </footer>
</div>
